
{% extends "base.html" %}
{% load static %}
{% block title %}
    Technology
{% endblock title %}
{% block content %}
<!--inner banner Head starts-->
<section class="inner_banner mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_head">
                    <div class="innerflex">
                        <h3 class="inner_head1">
                            Backup
                        </h3>
                    </div>
                    <div class="innerflex">
                        <ul class="breadcrumbs d-flex">
                            <li class="breadccrumbs_items">
                                <a href="/" class="bread_crumbs_links">Home</a>
                            </li>
                            <li class="breadccrumbs_items text-white">
                                <i class="fa-solid fa-angle-right"></i>
                            </li>
                            
                            <li class="breadccrumbs_items">
                                <a href="" class="bread_crumbs_links">Backup</a>
                            </li>
                        </ul>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</section>
<!--inner banner Head ends-->
<!--Inner content starts-->
<section class="inner_content mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image_inner">
                    <img src="{% static 'assets/images/Technology/storage.jpeg'%}" class="img-fluid in1 techno" alt="Storage_image">
                </div>
            </div>
            <div class="col-md-6">
                <div class="inner_tech_head">
                    <h2>Having no disaster plan for an organization is the biggest disaster ever!</h2>
                </div>
                <div class="inner_tech_content">
                    <p>We recognize the critical importance for companies to protect and back up their resources and sensitive data from unexpected situations. Therefore, it is crucial to develop a comprehensive strategy that addresses all potential threats and disasters, ensuring data recovery and uninterrupted IT operations.</p>
                        <p class = "p1">Furthermore, merely recovering data is insufficient. It is essential that recovered data is organized and readily accessible whenever needed. Therefore, Backup data management is equally crucial to Recovery. To address this, PSSPL provides Enterprise Backup Management Plans and Solutions.</p>               
                     </div>
            </div>
            
        </div>
    </div>
</section>
<!--Inner content ends-->
<!--inner virtu starts-->
<section class="inner_virt mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_tech_head text-center">
                    <h2>We enable you with</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>	
                            Physical, virtual and cloud server backup software </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Robust storage management 
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>
                            Secure file sharing and system deployment
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4> Efficient disaster recovery plans
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Storage cost optimization
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Effective information management
                        </h4>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</section>
<!--inner virtu ends-->


<!---Get In touch starts-->
<section class="getInT">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="get_text text-center">
                    <h4 class="grw">Step forward to become a Cloud Smart Company</h4>
                    <!-- <h4 class="cont">Contact Us</h4> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="btn_get text-center">
                    <a href="" class="btn btn-primary inbtn">Get In Touch</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!---Get In touch Ends-->

{% endblock content %}
