{% extends "base.html" %}
{% load static %}
{% block title %}
    Technology
{% endblock title %}
{% block content %}
<!--inner banner Head starts-->
<section class="inner_banner mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_head">
                    <div class="innerflex">
                        <h3 class="inner_head1">
                            Security
                        </h3>
                    </div>
                    <div class="innerflex">
                        <ul class="breadcrumbs d-flex">
                            <li class="breadccrumbs_items">
                                <a href="/" class="bread_crumbs_links">Home</a>
                            </li>
                            <li class="breadccrumbs_items text-white">
                                <i class="fa-solid fa-angle-right"></i>
                            </li>
                            
                            <li class="breadccrumbs_items">
                                <a href="" class="bread_crumbs_links">Security</a>
                            </li>
                        </ul>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</section>
<!--inner banner Head ends-->
<!--Inner content starts-->
<section class="inner_content mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="inner_tech_head">
                    <h2>Keep check on the vulnerabilities and keep away from threats!</h2>
                </div>
                <div class="inner_tech_content">
                    <p>In today's high-stakes landscape of network security, trust in information security services is paramount. Businesses, prime targets for hackers and viruses, must ensure their IT infrastructure is robust to safeguard data. The importance of maintaining data integrity and business security is heightened in the era of cloud-based privacy.</p>
                        <p class = "p1"> DataInfy is a trusted provider of IT security solutions, offering comprehensive network security services to prevent unauthorized access to information. We take a proactive approach by thoroughly assessing all aspects of your IT systems to ensure thorough security coverage. Our aim is to fortify your network against potential attacks, ensuring the continuous protection of your data.</p>               
                     </div>
            </div>
            <div class="col-md-6">
                <div class="image_inner">
                    <img src="{% static 'assets/images/Technology/security.jpeg'%}" class="img-fluid in1 techno" alt="Security_image">
                </div>
            </div>
        </div>
    </div>
</section>
<!--Inner content ends-->
<!--inner virtu starts-->
<section class="inner_virt mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_tech_head text-center">
                    <h2>Our security roadmap offers</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>	
                            Tools and services to make your business secure and most profitable
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Superior data security and privacy
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Implementation controls and information risk management
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Adherence to governance, risk and compliances
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Cost optimization
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Minimal disruption
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Customized solutions
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Visibility across traditional and next-generation platforms</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--inner virtu ends-->


<!---Get In touch starts-->
<section class="getInT">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="get_text text-center">
                    <h4 class="grw">Step forward to become a Cloud Smart Company</h4>
                    <!-- <h4 class="cont">Contact Us</h4> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="btn_get text-center">
                    <a href="" class="btn btn-primary inbtn">Get In Touch</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!---Get In touch Ends-->

{% endblock content %}