{% extends "base.html" %}
{% load static %}
{% block title %}
    Technology
{% endblock title %}
{% block content %}
<!--inner banner Head starts-->
<section class="inner_banner mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_head">
                    <div class="innerflex">
                        <h3 class="inner_head1">
                            Storage
                        </h3>
                    </div>
                    <div class="innerflex">
                        <ul class="breadcrumbs d-flex">
                            <li class="breadccrumbs_items">
                                <a href="/" class="bread_crumbs_links">Home</a>
                            </li>
                            <li class="breadccrumbs_items text-white">
                                <i class="fa-solid fa-angle-right"></i>
                            </li>
                            
                            <li class="breadccrumbs_items">
                                <a href="" class="bread_crumbs_links">Storage</a>
                            </li>
                        </ul>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</section>
<!--inner banner Head ends-->
<!--Inner content starts-->
<section class="inner_content mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image_inner">
                    <img src="{% static 'assets/images/Technology/storage.jpeg'%}" class="img-fluid in1 techno" alt="Storage_image">
                </div>
            </div>
            <div class="col-md-6">
                <div class="inner_tech_head">
                    <h2>Manage your documents securely and efficiently!</h2>
                </div>
                <div class="inner_tech_content">
                    <p>Data is often likened to the new oil of the digital age, requiring efficient management. Well-organized data enables organizations to access, process, and share information seamlessly. Therefore, managing large volumes of data must be meticulously planned, implemented, and maintained.</p>
                        <p class = "p1"> At DataInfy, we prioritize strategizing and implementing accessible, efficient data storage solutions that facilitate seamless access, processing, and sharing. Our innovative policies and governance frameworks enhance business network performance and overall organizational productivity. We tailor your data storage to align perfectly with your unique business requirements, recognizing the individuality of each organization we serve.</p>               
                     </div>
            </div>
            
        </div>
    </div>
</section>
<!--Inner content ends-->
<!--inner virtu starts-->
<section class="inner_virt mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_tech_head text-center">
                    <h2>Our data storage services include</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>	
                            Analysis of data and data resources
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Enterprise infrastructure and architecture
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Software and storage systems
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Data backup
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Management analysis and solutions
                        </h4>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</section>
<!--inner virtu ends-->


<!---Get In touch starts-->
<section class="getInT">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="get_text text-center">
                    <h4 class="grw">Step forward to become a Cloud Smart Company</h4>
                    <!-- <h4 class="cont">Contact Us</h4> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="btn_get text-center">
                    <a href="" class="btn btn-primary inbtn">Get In Touch</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!---Get In touch Ends-->

{% endblock content %}