{% extends "base.html" %}
{% load static %}
{% block title %}
    Technology
{% endblock title %}
{% block content %}
<!--inner banner Head starts-->
<section class="inner_banner mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_head">
                    <div class="innerflex">
                        <h3 class="inner_head1">
                            Storage
                        </h3>
                    </div>
                    <div class="innerflex">
                        <ul class="breadcrumbs d-flex">
                            <li class="breadccrumbs_items">
                                <a href="/" class="bread_crumbs_links">Home</a>
                            </li>
                            <li class="breadccrumbs_items text-white">
                                <i class="fa-solid fa-angle-right"></i>
                            </li>
                            
                            <li class="breadccrumbs_items">
                                <a href="" class="bread_crumbs_links">Storage</a>
                            </li>
                        </ul>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</section>
<!--inner banner Head ends-->
<!--Inner content starts-->
<section class="inner_content mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image_inner">
                    <img src="{% static 'assets/images/Technology/storage.jpeg'%}" class="img-fluid techno" alt="Storage_image">
                </div>
            </div>
            <div class="col-md-6">
                <div class="inner_tech_head">
                    <h2>Manage your documents securely and efficiently!</h2>
                </div>
                <div class="inner_tech_content">
                    <p>WData is definitely a new age oil, which has to be managed efficiently. A well-organized data lets organizations to access, process and share it hassle-freely. Thus, managing huge data chunks has to be thoroughly planned, implemented and maintained as well.</p>
                        <p> DataInfy ensures that we strategize and implement data storage that can be easily accessed, processed and shared. The innovative policies and governance we deploy for your business network enhances the overall performance and productivity of the organization. We customize your data storage completely to your business demands, because we understand every business is different!</p>               
                     </div>
            </div>
            
        </div>
    </div>
</section>
<!--Inner content ends-->
<!--inner virtu starts-->
<section class="inner_virt mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_tech_head text-center">
                    <h2>Our data storage services include</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>	
                            Analysis of data and data resources
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Enterprise infrastructure and architecture
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Software and storage systems
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Data backup
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card inner_card">
                    <div class="card_inner_head">
                        <h4>Management analysis and solutions
                        </h4>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</section>
<!--inner virtu ends-->


<!---Get In touch starts-->
<section class="getInT">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="get_text text-center">
                    <h4 class="grw">Step forward to become a Cloud Smart Company</h4>
                    <!-- <h4 class="cont">Contact Us</h4> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="btn_get text-center">
                    <a href="" class="btn btn-primary inbtn">Get In Touch</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!---Get In touch Ends-->

{% endblock content %}

