.contact-us {
    background: #002335;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    min-height: 100vh;
}

.form-control {
    background: none !important;
    border: none !important;
    border-bottom: 2px solid #fff !important;
    color: white !important; /* Ensure entered text is white */
}

.form-control:focus {
    box-shadow: none !important;
}

.contact-us h2,
.contact-us label,
.contact-us .modal-title,
.contact-us .modal-body,
.contact-us .modal-footer button { 
    color: white;
}

.contact-us .row {
    padding: 10px;
}

.contact-us .form-group {
    padding: 10px 0;
}

.custom-input {
    border-radius: 0 !important;
    /* Add more custom styles here if needed */
}

.custom-btn {
    border-radius: 0;
    padding: 10px 20px !important;
    background-color: #0062cc;
    border-color: #0056b3;
    transition: background-color 0.3s, border-color 0.3s;
}

.custom-btn:hover {
    background-color: #0056b3;
    border-color: #004494;
}

/* Add custom styles for valid and invalid feedback */
.was-validated .form-control:valid,
.was-validated .form-control.is-valid {
    border-bottom-color: #28a745; /* Green border for valid input */
}

.was-validated .form-control:invalid,
.was-validated .form-control.is-invalid {
    border-bottom-color: #dc3545; /* Red border for invalid input */
}

.was-validated .form-control:valid ~ .valid-feedback,
.was-validated .form-control.is-valid ~ .valid-feedback  {
    display: block;
}

.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .form-control.is-invalid ~ .invalid-feedback {
    display: block;
}
